<!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-profile">
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Javier Marchesini </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="javascript:void()">Perfil </a></li>
                                <li><a href="javascript:void()">Estado</a></li>
                                <li><a href="javascript:void()">Bandeja de Entrada</a></li>
                                <li><a href="javascript:void()">Configuración de Cuenta</a></li>
                                <li><a href="javascript:void()">Salir</a></li>
                            </ul>
                        </li>
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">PERSONAL</li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Panel de Control <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="index.html">Minimalista </a></li>
                                <li><a href="index2.html">Analítico</a></li>
                                <li><a href="index3.html">Demogragráfico</a></li>
                                <li><a href="index4.html">Moderno</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
